asgiref==3.7.2
Django==3.2.13
django-filter==23.3
djangorestframework==3.14.0
drf-yasg==1.21.7
gunicorn==21.2.0
inflection==0.5.1
Markdown==3.4.4
packaging==23.1
Pillow
pytz==2023.3.post1
PyYAML==6.0.1
rest-api-payload==0.0.7
sqlparse==0.4.4
typing_extensions==4.8.0
uritemplate==4.1.1
uuid==1.30
whitenoise==6.5.0
